.chat-main
  .chat-main__group-info
    .chat-main__group-info__group
      .chat-main__group-info__group__name
      .chat-main__group-info__group__member
        .chat-main__group__member__list
        .chat-main__group-info__group__member__name
    
  .chat-main__message-list
  .form
    .form__contens
    
    